html, body {
    overflow-x: hidden;
}


body{
    background: linear-gradient( 135deg, #42442e 0%, #383524 30%, #32332d 50%, #020204 100%);


}




img {
    width: 1536px;
    height: 1024px;

    margin: auto;
    display: block;
}

p {
    text-align: center;
}

a:link, a:visited {
    color: #867e7e;
}

@media (max-width: 600px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 2048px) {

}