.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin-inline: auto;
    max-width: 1200px;
}

#Lace{
    background-color: lightgray;
}

#TROBBIOOO{
    background-color: #6E0902
}

#Shakra{
    background-color:  #976928;

}

#HugeFlea{
    background-color: #552d18;

}

#Seth{
    background-color: #112218;

}

.Lace{
    color: #000000
}

.Trobbio{
 color: #b52a46;
}

.Shakra{
 color: #8e3756;

}

.HugeFlea{
    color: #7c6f68;
}

.Seth{
 color: #205937;
}

body{
    background-color: #000;
}


@media (max-width: 600px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 2048px) {

}