body {
    background: linear-gradient( 135deg, #F48113 0%, #98643f 30%, #d3996b 50%, #45362b 100%);
}

img {
    width: 588px;
    height: 344px;

    margin: auto;
    display: block;
}

p {
    text-align: center;
}

a:link, a:visited {
    color: #690505;
}

@media (max-width: 600px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 2048px) {

}