html, body {
    overflow-x: hidden;
}


body{
    background: linear-gradient( 135deg, #db3e0b 0%, #9c5b23 30%, #ac4d00 50%, #1a1706 100%);

}




img {
    width:1600px;
    height: 1600px;

    margin: auto;
    display: block;
}

p {
    text-align: center;
}

a:link, a:visited {
    color: #aba4a4;
}

@media (max-width: 600px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 2048px) {

}